/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1e1e1e;
  color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
}

/* HEADER */
.header {
  padding: 2rem 4.8rem;
  background-color: #252526;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #bdbdbd;
  padding-bottom: 0.6rem;
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.icon-container {
  cursor: pointer;
}

.icon {
  padding: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.icon-dark {
  color: #fff;
}

.icon-light {
  color: #1e1e1e;
  background-color: #fff;
}

.hidden {
  display: none;
}

/* EDITOR & OUTPUT CONTAINER */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3.2rem;
  height: 70vh;
}

/* CODE EDITOR */
.editor {
  background-color: #252526;
  padding: 1.6rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background-color: #1e1e1e;
  color: #f0f0f0;

  padding: 1rem;
  resize: none;
  outline: none;
  border-radius: 6px;
}

/* OUTPUT */
.output {
  background-color: #252526;
  color: #f0f0f0;
  padding: 1.6rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: auto;
}

.output-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.output-text {
  font-size: 1.8rem;
}

.error {
  color: red;
}

/* RUN BUTTON */
button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #575757;
}
